<!DOCTYPE html>
    <head>
        <title>Data Table</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="data-table-div">
            <table class="data-table">
                <thead class="data-table-head">
                    <th>Timestamp</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Random Number Fact</th>
                    <th>Weather Description</th>
                    <th>Temperature F</th>
                    <th>Country Alpha Code</th>
                    <th>Country Name</th>
                    <th>Bordering Countries</th>
                    <th>Country Flag</th>
                    <th>Country Capital</th>
                </thead>
                {% for record in data %}
                <tr class="data-table-row">
                    <td>{{record['iss_timestamp']}}</td>
                    <td>{{record['iss_lat']}}</td>
                    <td>{{record['iss_lon']}}</td>
                    <td>{{record['num_description']}}</td>
                    <td>{{record['weather_description']}}</td>
                    <td>{{record['weather_temp']}}</td>
                    <td>{{record['country_alpha_code']}}</td>
                    <td>{{record['country_name']}}</td>
                    <td>{{record['country_borders']}}</td>
                    <td>{{record['country_flag_url']}}</td>
                    <td>{{record['country_capital']}}</td>
                </tr>
                {% endfor %}
          </table>
        </div>
    </body>
</html>
