<!DOCTYPE html>

<head>
    <title>ISS Tracker Data Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div id="data-table-div">
        <div id="header">
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
            <h2 id="title">ISS Tracker Data Table</h2>
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
        </div>
        <div id="controls">
            <button class="control-button" onclick="location.href='/'">Home</button>
            <button class="control-button" onclick="location.href='/data'">Json</button>
        </div>
        <table class="data-table">
            <tbody>
                {% for record in data %}
                <tr class="data-table-row">
                    <td>{{record['iss_timestamp']}}</td>
                    <td>{{record['iss_lat']}}</td>
                    <td>{{record['iss_lon']}}</td>
                    <td>{{record['num_description']}}</td>
                    <td>{{record['weather_description']}}</td>
                    <td>{{record['weather_temp']}}</td>
                    {% if record['country_alpha_code'] %}
                    <td>{{record['country_alpha_code']}}</td>
                    {% else %}
                    <td>- None -</td>
                    {% endif %} {% if record['country_name'] %}
                    <td>{{record['country_name']}}</td>
                    {% else %}
                    <td>- None -</td>
                    {% endif %} {% if record['country_borders'] %}
                    <td>{{record['country_borders']}}</td>
                    {% else %}
                    <td>- None -</td>
                    {% endif %} {% if record['country_flag_url'] %}
                    <td>{{record['country_flag_url']}}</td>
                    {% else %}
                    <td>- None -</td>
                    {% endif %} {% if record['country_capital'] %}
                    <td>{{record['country_capital']}}</td>
                    {% else %}
                    <td>- None -</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>