<!DOCTYPE html>

<head>
    <title>ISS Tracker Data Table</title>
    <link rel="image_src" href="{{ url_for('static', filename='img/srcimg.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div id="data-table-div">
        <div id="header">
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
            <h2 id="title">ISS Tracker Data Table</h2>
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
        </div>
        <div id="controls">
            <button class="control-button" onclick="location.href='/'">Home</button>
            <button class="control-button" onclick="location.href='/data?numRows=100'">Json</button>
        </div>
        <div class="border-div">
            {% for record in data %}
            <table class="data-table">
                <tbody>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{record['iss_timestamp']}}</td>
                    </tr>
                    <tr>
                        <td>Latitude</td>
                        <td>{{record['iss_lat']}}</td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td>{{record['iss_lon']}}</td>
                    </tr>
                    <tr>
                        <td>Number Fact</td>
                        <td>{{record['num_description']}}</td>
                    </tr>
                    <tr>
                        <td>Weather Description</td>
                        <td>{{record['weather_description']}}</td>
                    </tr>
                    <tr>
                        <td>Temperature (F)</td>
                        <td>{{record['weather_temp']}}</td>
                    </tr>
                    <tr>
                        <td>Country Alpha Code</td>
                        {% if record['country_alpha_code'] %}
                        <td>{{record['country_alpha_code']}}</td>
                        {% else %}
                        <td>- None -</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Country Name</td>
                        {% if record['country_name'] %}
                        <td>{{record['country_name']}}</td>
                        {% else %}
                        <td>- None -</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Bordering Countries</td>
                        {% if record['country_borders'] %}
                        <td>{{record['country_borders']}}</td>
                        {% else %}
                        <td>- None -</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Country Flag URL</td>
                        {% if record['country_flag_url'] %}
                        <td><a href="{{record['country_flag_url']}}" target="_blank">{{record['country_flag_url']}}</a></td>
                        {% else %}
                        <td>- None -</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Country Capital</td>
                        {% if record['country_capital'] %}
                        <td>{{record['country_capital']}}</td>
                        {% else %}
                        <td>- None -</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</body>

</html>