<!DOCTYPE html>
    <head>
        <title>ISS Tracker</title>
        <link rel="image_src" href="{{ url_for('static', filename='img/srcimg.jpg') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v3.js"></script>
    </head>
    <body>
        <div class="header">
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
            <h1 class="title">ISS Tracker</h1>
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
        </div>
        <div id="mapid"></div>
        <div class="header">
            <button class="header-button" onclick="toggleStyle()">Toggle Style</button>
            <button class="header-button" onclick="toggleMarkers()">Toggle Markers</button>
            <button class="header-button" onclick="toggleLines()">Toggle Lines</button>
            <button class="header-button" onclick="location.href='/data-table'">Data Table</button>
        </div>
        <div class="header">
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
            <h1 class="title">Today's Records</h1>
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
        </div>
        <div id="single-data-points">
            <!-- <h2 class="title">Today's Stats</h2> -->
            <div class="single-data-point">
                <p id="avgSpeed" />
            </div>
            <div class="single-data-point">
                <p id="avgTemp" />
            </div>
        </div>
        <!-- <svg id="weather-counts" width="600" height="500"></svg> -->
        <div id="weather-counts">
            <h2 class="subtitle">Most Common Weather</h2>
        </div>
        <div id="country-counts">
            <h2 class="subtitle">Most Visited Countries</h2>
        </div>
        <div class="header">
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
            <h1 class="title">Thanks For Stopping By</h1>
            <img class="header-img" src="{{ url_for('static', filename='img/bluestar.svg') }}" />
        </div>
    </body>
    <footer>
        <script type="text/javascript">var mbk = {{ mbkpy|tojson }}</script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </footer>
</html>
