html {
    background-color: black;
}

.bar {
    fill: rgb(2, 11, 128);
}
  
.bar:hover {
    fill: red;
}

.header {
    border: 3px solid rgb(2, 11, 128);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#header-buttons {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    color: chartreuse;
    letter-spacing: 2px;
    width: 65%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.subtitle {
    color: chartreuse;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header-img {
    width: 30px;
    height: 30px;
}

.header-button {
    width: 10%;
    background-color: rgb(2, 11, 128);
    color: white;
    margin-right: 3px;
    margin-left: 3px;
}

.header-button:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(2, 11, 128);
}

#weather-counts {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 3px solid rgb(2, 11, 128);
    width: 100%;
}

#country-counts {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 3px solid rgb(2, 11, 128);
    width: 100%;
}

#mapid {
    height: 500px;
    width: 100%;
    border: 3px solid rgb(2, 11, 128);
    margin-bottom: 7px;
}

.border-blue {
    border: 3px solid rgb(2, 11, 128);
    width: 100%;
}

#data-point-select {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#data-point-select-msg {
    color: chartreuse;
    margin: 0;
}

#data-point-quantity {
    margin-left: 7px;
}

#data-point-submit {
    background-color: rgb(2, 11, 128);
    color: white;
}

#data-point-submit:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(2, 11, 128);
}

.single-data-title {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
}

.single-data-msg {
    margin-bottom: 3px;
}

#single-data-points {
    width: 60%;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-data-point {
    color: chartreuse;
    width: 100%;
}

table {
    display: none;
    color: chartreuse;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid rgb(2, 11, 128);
}

svg {
    fill: chartreuse;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

button {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 8px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.map-button {
    background-color: rgb(2, 11, 128);
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.map-button:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(2, 11, 128);
}

.popup {
    padding: 13px 19px;
}

.leaflet-popup-content {
    margin: 0 !important;
}

@media screen and (min-width: 900px) and (max-width: 1350px) {
    .header-button {
        width: 15%;
    }
}

@media screen and (min-width: 675px) and (max-width: 900px) {
    .header-button {
        width: 20%;
    }
}

@media screen and (max-width: 980px) {
    table {
        display: table;
    }
    svg {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #single-data-points {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (min-width: 590px) and (max-width: 675px) {
    .header-button {
        width: 23%;
    }
}

@media screen and (min-width: 475px) and (max-width: 590px) {
    .header-button {
        width: 23%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 475px) {
    .header-button {
        width: 24%;
        font-size: 9px;
    }
}